<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings>
    <add name="QLTV_Model" connectionString="data source=LAPTOP-5606Q81H\LOCAL;initial catalog=QuanLyThuVien;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QuanLyThuVien.Properties.Settings.QuanLyThuVienConnectionString" connectionString="Data Source=LAPTOP-5606Q81H\LOCAL;Initial Catalog=QuanLyThuVien;Integrated Security=True" providerName="System.Data.SqlClient" />
<add name="QLTV_Model1" connectionString="data source=LAPTOP-5606Q81H\LOCAL;initial catalog=QuanLyThuVien;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>